{% extends "security/base.html" %}

{% block security_content %}
<div class="login-container">
  {% include "security/_messages.html" %}
  <h1>{{ _('Change Password') }}</h1>
  <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    {{ change_password_form.hidden_tag() }}
    <div class="mb-3">
      {{ change_password_form.password.label(class_="form-label") }}
      {{ change_password_form.password(class_="form-control", required=True) }}
    </div>
    <div class="mb-3">
      {{ change_password_form.new_password.label(class_="form-label") }}
      {{ change_password_form.new_password(class_="form-control", required=True) }}
    </div>
    <div class="mb-3">
      {{ change_password_form.new_password_confirm.label(class_="form-label") }}
      {{ change_password_form.new_password_confirm(class_="form-control", required=True) }}
    </div>
    {{ change_password_form.submit(class_="btn btn-primary login-btn w-100") }}
  </form>
  <p class="mt-3 text-center">
    <a href="/">{{ _('Return to Application') }}</a>
  </p>
</div>
{% endblock %}
