Flask>=2.0.0
prometheus_client>=0.14.0
requests>=2.28.0
geopandas>=0.12.0
psycopg2-binary>=2.9.5
jsonschema>=4.17.0
filelock>=3.9.0
WTForms>=3.0.0
Flask-WTF>=1.1.0
Flask-Session>=0.5.0
Flask-Login>=0.6.2
Flask-Security-Too>=5.2.0
Flask-SQLAlchemy>=3.0.5
Flask-Bcrypt>=1.0.1
Flask-Dance[redirects]>=6.0.0
passlib>=1.7.4
email-validator>=2.0.0
bcrypt>=4.0.0
python-dotenv>=1.0.0
OAuthlib>=3.2.0
gunicorn>=20.1.0
Blinker>=1.5.0
Flask-Migrate>=4.0.0
